html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#logo{
  width: 10%;
}
#map {
  height: 100%;
}

.hiddenRow {
    padding: 0 !important;
}

body {
  /*background: #FF5897;*/
  
}

.wrapper{
  width: 50%;
  margin: 0 auto;
}

#events-table{
  width: 70%;
  margin: 0 auto;
}

#map{
  width: 70%;
  margin: 0 auto;
}
